nimble.develop
nimble.paths
/nil
/nimp
nil_bin
/tests/test_lisp
/tests/reader/test_reader
/tests/compile/test_backend
/tests/compile/test_lower
/tests/cli/test_cli
/src/nimp/cli
/examples/*
!/examples/*.lisp
!/examples/*.nim
!/examples/*.nimp
nimbledeps
/build_std
